@font-face {
  font-family: 'Quicksand';
  src: url(assets/fonts/Quicksand_Book.otf);
}

@font-face {
  font-family: 'QuicksandBold';
  src: url(assets/fonts/Quicksand_Bold.otf);
}

@font-face {
  font-family: 'QuicksandItalics';
  src: url(assets/fonts/Quicksand_Light_Oblique.otf);
}

body {
  background-color: rgba(90,90,95,255);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-height: 480px) {
  body {
    height: 1000px; 
  }
}

@media (min-height: 481px) and (max-height: 800px) {
  body {
    height: 800px; 
  }
}

@media (min-height: 801px) {
  body {
    height: 920px; 
  }
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.InfoContainer {
  background-color: rgba(10,10,10,255);
  height: 525px;
  width: 950px;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(124,125,129,255);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5), 0 0 20px 0 rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  .InfoContainer {
    width: 430px; 
    height: 850px;
    border-radius: 0px;
    border-style: none;
    box-shadow: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.InfoHeader {
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
  width: 900px;
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .InfoHeader {
    width: 380px; 
  }
}

.InfoPic {
  background-image: url("./assets/pictures/linkedin.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  cursor: pointer;

  height: 75px;
  width: 75px;
  border-style: solid;
  border-color: rgba(198,198,198,255);
  border-radius: 50%;
}


.InfoIconHolder {
  gap: 20px;
  font-size: 15px;
  color: rgba(198,198,198,255);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.InfoIcons {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(198,198,198,255);
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.midSection {
  width: 100%;
  height: 100%;
  gap: 20px;
  margin: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .midSection {
    width: 380px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.WelcomeArea {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  .WelcomeArea {
    width: 380px; 
    height: 100%;
  }
}

.WelcomeMessage {
  position: relative;
  top: -25px;
  margin: 0;
  margin-bottom: 75px;
  color: rgba(198,198,198,255);
  font-family: 'Quicksand';
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: 200;
}

@media screen and (max-width: 480px) {
  .WelcomeMessage {
    font-size: 70px;
  }
}

.AboutMe {
  position: relative;
  font-size: 16px;
  font-family: 'Quicksand';
  top: -100px;
  color: rgba(198,198,198,255);
}

.Projects {
  position: relative;
  top: -50px;
  margin-right: 75px;
  height: 70%;
  width: 50%;
  font-family: 'QuicksandBold';
  letter-spacing: -2px;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .Projects {
    width: 440px; 
    height: 100%;
  }
}

.ProjectSection {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  .ProjectSection {
    width: 440px; 
    height: 100%;
    position: relative;
    top: -30px;

    display: flex;
    justify-content: center;
    align-items: left;
  }
}

.ProjectsHeader {
  height: 20%;
  padding-bottom: 20px;
  color: rgba(198,198,198,255);

  display: flex;
  align-items: center;
  justify-content: left;
}

.ProjectList {
  width: 100%;
  font-family: "Quicksand";
  list-style: none;
  color: rgba(198,198,198,255);
  text-decoration: underline;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

@media screen and (max-width: 480px) {
  .ProjectList {
    width: 440px;
  }
}

.ListItem {
  cursor: pointer;
}

.ProjectName {
  position: relative;
  top: -25px;
  margin-top: 20px;
  margin-bottom: 75px;
  color: rgba(198,198,198,255);
  font-family: 'QuicksandBold';
  font-size: 30px;
  font-weight: 200;
}

.Link {
  width: 80px;
  margin-top: 0px;
  position: relative;
  top: -100px;
  text-decoration: underline;
  cursor: pointer;
  color: rgba(198,198,198,255);
}

.Frameworks {
  position: relative;
  top: -100px;

  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Frameworks {
    width: 300px; 
    height: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.FrameworkCircles {
  padding: 2px 8px 2px 8px;
  border-radius: 20px;
  color: rgba(124,125,129,255);
  font-family: 'QuicksandBold';
  border-style: solid;
  border-width: 2px;
  border-color: rgba(124,125,129,255);

  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: normal; 
  box-sizing: border-box;
}

.ProfessionalExperiences {
  cursor: pointer;
}

.FlipContainer {
  perspective: 1000px;
}

.FlipCard {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.FlipCard.flip-out {
  animation: flipForward 1s forwards;
}

.FlipCard.flip-in {
  animation: flipBackward 1s forwards;
}

.FlipCard .front,
.FlipCard .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

@keyframes flipForward {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(370deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes flipBackward {
  0% {
    transform: rotateY(360deg);
  }
  50% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.ExperienceHeader {
  position: relative;
  letter-spacing: 2px;
  top: -50px;
  margin-top: 20px;
  color: rgba(198,198,198,255);
  font-family: 'QuicksandBold';
  font-size: 30px;
  font-weight: 200;
}

@media screen and (max-width: 480px) {
  .ExperienceHeader {
    font-size: 25px;
  }
}

.ExperienceTimeline {
  position: relative;
  top: -50px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .ExperienceTimeline {
    margin-bottom: 50px;
  }
}

.Timeline {
  background-color: rgb(185, 185, 185);
  width: 1px;
  height: 250px;

  display: block;
  justify-content: center;
  align-items: center;
}

.TimelineCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(90, 90, 90);
  background-color: rgb(185, 185, 185);
  z-index: 1000;

  position: relative;
  right: 8px;
  top: 5px;
  
}

.ConnectingLine {
  background-color: rgb(90, 90, 90);
  width: 30px;
  height: 1px;
  z-index: -1000;

  position: relative;
  left: 15px;
  top: 7px;
}

.ExperienceBox {
  background-color: transparent;
  width: 500px;
  height: 150px;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(90, 90, 90);

  position: relative;
  left: 30px;
  bottom: 25px;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .ExperienceBox {
    width: 340px; 
    height: 190px;
  }
}


.ExperienceTitle {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'QuicksandBold';
  color: rgb(185, 185, 185);
}

.ExperienceDetails {
  width: 100%;
  height: 20px;
  font-size: 12px;
  margin-top: 5px;
  font-family: 'QuicksandItalics';
}

@media screen and (max-width: 480px) {
  .ExperienceDetails {
    font-size: 12px;
  }
}

.ExperienceBullets {
  font-size: 12px;
  margin-top: 5px;
}

@media screen and (max-width: 480px) {
  .ExperienceBullets {
    font-size: 12px;
  }
}

.TimelineCircle2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(90, 90, 90);
  background-color: rgb(185, 185, 185);
  z-index: 1000;

  position: relative;
  right: 8px;
  top: 150px;
}

@media screen and (max-width: 480px) {
  .TimelineCircle2 {
    position: relative;
    right: 8px;
    top: 200px;
  }
}

.ConnectingLine2 {
  background-color: rgb(90, 90, 90);
  width: 30px;
  height: 1px;
  z-index: -1000;

  position: relative;
  left: 15px;
  top: 7px;
}

.ExperienceBox2 {
  background-color: transparent;
  width: 500px;
  height: 75px;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(90, 90, 90);

  position: relative;
  left: 30px;
  bottom: 25px;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .ExperienceBox2 {
    width: 340px; 
    height: 90px;
  }
}